@model IEnumerable<projektMVC.Models.Diplomainfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotorid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhouploadNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotorid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File.Fileid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhouploadNavigation.Userid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Diplomaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Diplomaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Diplomaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
