@model projektMVC.Models.Fileinfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fileinfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Fileid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
