@model projektMVC.Models.Userinfo

@{
    ViewData["Title"] = "Details";
}
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        corePlugins: {
            preflight: true,
        },
        prefix: 'tailwind-',
    }
</script>

<h1>Details</h1>

<div>
    <h4>Userinfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAccountDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAccountDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timetable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timetable.Timetableid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Userid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
